.searchBarContainer {
    display: flex;
    align-items: center;

    position: sticky;
    top: 42px;
    z-index: 102;

    height: 64px;
    padding: 0 32px 0 32px;

    color: rgb(128, 136, 147);
    background: #FFFFFF;

    font-family: "ui-sans-serif", sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.searchBarAndCount {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchBar {
    display: flex;
    align-content: flex-start;
    align-items: center;

    width: 320px;
    height: 32px;

    background: #F6F6F8;

    border-radius: 4px;

    padding-left: 8px;
}

.searchBar:hover {
    background: #EDEDF0;
}

.searchBar:focus-within {
    outline: 1px solid #006FFF;
}

.searchBar input {
    background: none;
    width: 260px;
}

.searchBar input:focus {
    outline: none;
}

.searchBarCount {
    padding-left: 16px;

    font-size: 12px;

    color: #BDBDBD;
}

.searchBarIcon {
    margin: 0 6px 0 6px;
}

.searchBarControlsAndFilter {
    display: flex;
    flex-direction: column;
    position: relative;
}

.searchBarControls {
    display: flex;
    flex-direction: row;
    gap: 18px;
    position: relative;
}

.searchBarControls button {
    padding: 6px;
    border-radius: 4px;
}

.searchBarControls button:hover {
    background: #F4F5F6;
}

.searchBarControls button:focus {
    outline: 1px solid #006FFF;
}

.spacer {
    flex-grow: 1;
}

@media screen and (max-width: 650px) {
    .searchBarContainer {
        display: flex;
        flex-direction: column;

        padding: 12px 32px 24px 32px;
        margin-bottom: 12px;

        color: rgb(128, 136, 147);

        font-family: "ui-sans-serif", sans-serif;
        font-weight: normal;
        font-size: 14px;
    }

    .searchBar {
        display: flex;
        align-content: flex-start;
        align-items: center;

        width: 280px;
        height: 42px;

        background: #F6F6F8;

        border-radius: 4px;

        padding-left: 8px;
        margin-bottom: 8px;
    }

    .searchBarControls {
        display: flex;
        flex-direction: row;
        justify-content: center;

        gap: 18px;

        width: 100vw;

        background: #FFFFFF;
    }
}

.react-autosuggest__container {
    position: relative;
}

.react-autosuggest__input:focus {
    outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {

}

.react-autosuggest__suggestions-container--open {
    overflow-y: scroll;
    position: absolute;
    top: 28px;
    width: 320px;
    height: 122px;
    margin-left: -32px;
    padding: 0;
    list-style-type: none;
    background-color: #fff;
    line-height: 10px;
    font-weight: 300;
    font-size: 14px;
    z-index: 2;
    box-shadow: 0px 16px 32px 0px rgba(28, 30, 45, 0.20);
    border-radius: 8px;
    color: #50565E;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
}

.react-autosuggest__suggestion--focused {
    background-color: #ddd;
}