.custom-checkbox {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 0 16px 0 0;
    font-size: 16px;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #FFFFFF;
    border: 1px solid #B6B9C4;
    border-radius: 4px;
}

.custom-checkbox input:checked + .checkmark {
    background-color: #006FFF;
    border: 0;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox input:checked + .checkmark:after {
    display: block;
}

.custom-checkbox .checkmark:after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 1.75px 1.75px 0;
    transform: rotate(45deg);
}
