@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --ubiquiti-primary: #006FFF;
    --ubiquiti-primary-hover: #0059CC;
}

@font-face {
    font-family: "UI Sans";
    src: url("../public/fonts/ui-sans-v7-regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "UI Sans Bold";
    src: url("../public/fonts/ui-sans-v7-bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

html, body {
    max-width: 100vw;
    font-family: "UI Sans", sans-serif;
    scroll-behavior: smooth;
    /*overflow-y: hidden;*/
}
