.catalogTable {
    width: 100vw;

    margin: 0 32px 0 32px;

    font-family: "UI Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.catalogTable tr {
    border-bottom: 1px solid rgb(237, 237, 240);
}

.catalogTableHeader {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: "UI Sans Bold", sans-serif;
    font-weight: bold;
    font-size: 14px;

    height: 32px;

    margin-right: 5vw;
}

.catalogNameColor {
    color: rgb(0, 0, 0) !important;
}

.catalogTableBody {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.catalogTableRow {
    display: flex;
    flex-direction: row;
    align-items: center;

    min-height: 32px;

    color: rgba(0, 0, 0, 0.65)
}

.catalogTableColumnOne {
    display: flex;
    align-content: flex-start;

    width: 20px;
    height: 20px;

    margin: 0 8px 0 8px;
}

.catalogTableColumnTwo {
    display: flex;
    align-content: flex-start;

    width: 46vw;

    margin: 0 8px 0 8px;
}

.catalogTableColumnThree {
    display: flex;
    align-content: flex-start;

    width: 46vw;

    margin: 0 8px 0 8px;
    padding-right: 15vw;

    color: rgba(0, 0, 0, 0.45)
}

.deviceTableRow {
    display: flex;
}