.catalogTable {
    margin-left: 32px;

    width: calc(100vw - 32px);
}

.catalogTableHeader {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: "UI Sans Bold", sans-serif;
    font-weight: bold;
    font-size: 14px;

    height: 32px;
}

.catalogTableBody {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.catalogTableRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.catalogTableColumnOne {
    display: flex;
    align-content: flex-start;

    width: 20px;
    height: 20px;
}

.catalogTableColumnTwo {
    display: flex;
    align-content: flex-start;

    width: 45vw;
}

.catalogTableColumnThree {
    display: flex;
    align-content: flex-start;

    width: 45vw;
}

.deviceTableRow {
    display: flex;
}