.productBarContainer {
    display: flex;
    align-items: center;

    position: sticky;
    top: 48px;
    z-index: 102;
    
    height: 64px;
    padding: 0 32px 0 32px;

    color: rgb(128, 136, 147);
    background: #FFFFFF;

    font-family: "ui-sans-serif", sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.spacer {
    flex-grow: 1;
}